

<img src="/assets/logo/Logo.png" style="position: absolute; top: -35px; left: -15px; width: 20%;">

<div class="login-form">
    <form action="/" class="user" method="post" role="form">               
         <img src="/assets/3sc-logo/3SC-logo-white.png" height="40" width="40">
                    <h2 class="text-center">Welcome Back!</h2>
                    <div class="form-group">
                        <select class="form-control custom-select" id="Type" name="Type"><option value="CarrierVendor">Carrier/Vendor</option>
    <option value="ControlTower">Control Tower</option>
    <option value="ClientFinance">Client Finance</option>
    <option value="ClientManagement">Client Management</option>
    </select>
</div>
<div class="form-group">
    <input class="form-control form-control-user" id="Username" name="Username" placeholder="Username" required="required" type="text" value="">
    
</div>
<div class="form-group">
    <input class="form-control form-control-user" id="Password" name="Password" placeholder="password" required="password" type="password">
    
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
</div>
<div class="clearfix">
    <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
    <a href="#" class="pull-right">Forgot Password?</a>
</div>
</form>            <p class="text-center small" style="color: white;">Don't have an account? <a href="#">Sign up here!</a></p>
</div>
