.container-fluid {
    padding-right: 5px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}
 
 .form-control {
    font-family: sans-serif;
    font-size: medium;
    padding: 1.5rem;
}
label {
    display: inline-block;
    margin-bottom: 3rem;
    font-size: 15px;
    font-family: arial,sans-serif;
    font-weight: 150;
    margin-top: 3px;
}
.table>tbody>tr>td{
   padding: 12px;
   font-weight: 400;
   margin-right: 10px;
   font-size: 12px;
 }
 /* .card-body {
   margin-right: auto;
   background-color: white;
 } */
 .table-bordered>thead>tr>th {
   font-weight: 500;
   border: 1px solid #ddd;
   text-align: center;
   font-size: 15px;
   vertical-align: center;
 }
 .pagination{
   margin-top: -2rem;
   margin-left: 50em;
 }
 .dataTables_info{
   margin-left: 3px;
 }
 .row {
   margin-right: 10px;
   margin-left: 0px;
   margin-top: 10px;
}
.search{
   margin-right: 10px;
}
.btn:not(:disabled):not(.disabled) {
   cursor: pointer;
   background-color: #00f !important;
   color: white;
   font-size: 15px;
}
.showentries{
   padding-left: 41em; 
}

