


/* border-radius: 10px;
background: white;
color: pink;
padding: 5px;
border: 2px solid pink; */


.vertical-menu a {
    display: block;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #e7e8f3;
  }
  
  .vertical-menu a:hover {
    background-color: pink;
    color: white;
  }

  .vertical-menu a.active {
    background-color: #fff;
    color:#eb9daa;
    border: 2px solid #eb9daa;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
  }
.address-card{
  border-radius: 15px;
background-color:#fff ;

}
  .shipping-details{
     padding-top: 20px;
  }
.address-country{
  font-size: 12px;
  color: gray;
  font-weight: 500;
}
.delivery-date{
  font-size: 11px;
    color: darkgray;
}

.order-seller{
  text-align: center;
}
.order-number{
  text-align: end;
}
.shipping-card{
  flex-direction: row;
}
agm-map {
  height: 300px;
}
.shipping{
  background-color:#2b6390;
  padding: 30px;
  border-radius: 15px;
  color: white;
}
.shipping-track{
height: 70px;
border-radius: 10px;
}
.manage-shipping{
 color: pink;
}
.details{
  display: flex;
  flex-direction: row;
}

.item-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-details .product-name{
  font-size: 15px;
}
.item-details .product-tag{
  font-size: 12px;
}
.product-title{
  display: grid;
  justify-content: start;
  align-content: center;
  align-items: baseline;
  justify-items: stretch;
}
.location {
  text-align: center;
}
