.form-group {
  margin-bottom: 1rem;
}
.table{
  width: 100%;
}
.showentries{
  margin-left: 50rem;
}
.table{
  border: 1px solid #ddd;
}
label{
  font-family: 'serif';
  font-weight: normal;
  display: inline-block;
    margin-bottom: 3.2rem;
}
.table>tbody>tr>td{
  padding: 12px;
  font-weight: 400;
}
.card-body {
  margin-right: 0.5rem;
  background-color: white;
}
.table-bordered>thead>tr>th {
  border-bottom-width: 2px;
  font-weight: 500;
}
.pagination{
  margin-left: 45em;
  margin-top: -2rem;
}
.dataTables_info{
  margin-left: 3px;
}
.form-group{
  margin: left 1.5rem;
}
.lrpagination{
  margin-left: 45em;
  margin-top: -2rem;
}