<div class="outer-dashboard" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="14px">
    <div class="inner-dashboard" fxLayout="column" fxFlex="95" fxLayout.xs="column">
        <div fxLayout="row">

            <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
                style="background-color: white ">
                <img src="/assets/images/Logo.png" style="margin-top: -30px; margin-left: -15px; margin-bottom: -80px;">
                <br>
                <br>
                <br>
                <div class="nav-shipping" fxLayout="column" fxFlex="10">
                    <i class='fas fa-box'></i>
                    <span> My shippings</span>
                </div>
                <li class="nav-item">
                    <a class="nav-link">

                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Masters</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Upload Documents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Show Documents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>LR Generate</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Audit Reports</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Exception Resolution</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Alert & Notifications</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>