
    
        <div fxLayout="row">
            <div  fxLayout="column" style="width: 20%;">
            <app-header></app-header>
            <div class="" id="accordionSidebar"
                style="background-color: white;margin-left: 20px;">
                <ul class="navbar-nav sidebar sidebar-dark accordion">
                    <li class="nav-shipping" fxLayout="row" fxFlex="10">
                        <i class='fas fa-box'></i>
                        <span> My shippings</span>
                    </li>
                <li class="nav-item">
                    <a class="" routerLink="/dashboard/masters" routerLinkActive [ngClass]="{'active navigate-active': active.isActive}">

                    <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Masters</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" routerLink="/dashboard/uploaddocs" routerLinkActive [ngClass]="{'active navigate-active': active.isActive}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Upload Documents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/masters">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Show Documents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/masters">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>LR Generate</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/masters">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Audit Reports</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/masters">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Exception Resolution</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Alert & Notifications</span>
                    </a>
                </li>
            </ul>
            </div>
        </div>
            <div class="container-fluid page-content">
                <div class="page-panel">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    
