.container-fluid{
   display: block;
}
.form-control{
    min-height: 40px;
    background-color: rgba(20, 238, 86, 0.007);
    box-shadow:none !important;
    border-color: #e3e3e3;
}
.form-control:focus{
border: color #70c5c0;
}
.form-control,.btn{
    border-radius: 2px;
}


.login-form {
    width: 360px;
    
    
}
.login-form form{
    color:black;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 13px;
    background:white;
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position:relative;
    border: radius 10px;
}
.login-form h2{
    font-size:22px;
}
.login-form .avatar{
    position: absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    top:-50px;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    z-index: -1;
    background:#70c5c0;
    padding: 5px;
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1)
}
.login-form .avatar img {
    width: 100%;
    height: 100%;
}
.login-form input[type="checkbox"]{
    margin-top: 2px;
}
.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background:  #E0EAFC; 
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); 
    border-radius: 2rem;
    margin-bottom: 20px;
    color: black;
}
.login-form .btn:hover {
    background:  #E0EAFC; 
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    outline:none !important
}
.login-form a {
    color:black;
    text-decoration:underline;
}
login-form a:hover {
    color:#fff;
    text-decoration:none;
}
.login-form form a{
    color:#7a7a7a;
    text-decoration: none ;
}
.login-form form a:hover {
    text-decoration: underline;
}
.login-block{
    display: flex;
    justify-content: center;
}
.action-buttons{
    display: flex;
}
.action-buttons .checkbox-inline{
flex: 1;
}
.bodybg-color{
    background: #E0EAFC; 
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to right, #CFDEF3, #E0EAFC)
}
