<div class="container-fluid">
    
    <img src="/assets/images/Logo.png" style="width: 15%;">
    <div class="login-block">
        <div class="login-form">
            <form class="user" >
                <img src="/assets/images/3SC-logo-white.png" height="40" width="40">
                <h2 class="text-center"><b>Welcome Back!</b></h2>
                <div class="form-group">
                    <select class="form-control custom-select" id="Type" name="Type">
                        <option value="CarrierVendor">Carrier/Vendor</option>
                        <option value="ControlTower">Control Tower</option>
                        <option value="ClientFinance">Client Finance</option>
                        <option value="ClientManagement">Client Management</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-user"  id="Username" name="Username" placeholder="Username"
                        required="required" type="text" value="">

                </div>
                <div class="form-group">
                    <input class="form-control form-control-user" id="Password" name="Password" placeholder="Password"
                        required="Password" type="Password">

                </div>
                <div class="form-group">
                    <button type="button" (click)="navigateHome()" class="btn btn-primary btn-user btn-block">Login</button>
                </div>
                <div class="clearfix action-buttons">
                    <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                    <a href="#" class="pull-right">Forgot Password?</a>
                </div>
            </form>
            <div class="text-center small" style="color: black;">Don't have an account? <a href="#">Sign up
                    here!</a>
            </div>
        </div>
        </div>
    </div>
