<div class="container-fluid">
    
    <img src="/assets/images/Logo.png" style="width: 15%;">
    <div class="login-block">
        <div class="login-form">
            <form class="user" >
                <img src="/assets/images/3SC-logo-white.png" height="40" width="40">
                <h2 class="text-center"><b>Choose Module!</b></h2>
                <div class="form-group">
                    <select class="form-control custom-select" id="Module" name="Module"><option value="D">Domestic</option>
<option value="E">Export</option>
</select>
                 </div>  
                    
                <div class="form-group">
                    <button type="button" (click)="navigateHome()" class="btn btn-primary btn-user btn-block">Login</button>
                </div>
              
            </form>
            <div class="text-center small" style="color: black;">Don't have an account? <a href="#">Sign up
                    here!</a>
            </div>
        </div>
        </div>
    </div>