mat-card {
    padding: 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #cad5f8;
    width: 50%;
    border-radius: 8px;
}
upload-doc{
    height: 400px;
}
.btn{
  margin-top: 20px;
}
input{
    margin-top: 15px;
}