.card-header {
    padding: 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #e3e6f0;
    width: 40%;
    border-radius: 10px;
}
a:hover{
    background-color: yellow;
}