mat-card {
    padding: 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #cad5f8;
    width: 50%;
    border-radius: 8px;
    height: 20rem;
}
upload-doc{
    height: 400px;
}
.btn{
    cursor: pointer;
    height: 27px;
    margin-top: 6.2rem;
}

input{
    margin-top: 6rem;
    
}